<div class="M_Footer">
  <a href="#" class="A_FooterLink">FACEBOOK</a>
  <a href="#" class="A_FooterLink">TWITTER</a>
  <a href="#" class="A_FooterLink">INSTAGRAM</a>
  <a class="A_FooterEmail">ADC@YO.RU</a>
</div>
