.M_ArticleCard {
  margin-bottom: 12px;
  margin-right: 12px;

  .A_ArticleHeader {
    position: absolute;
  }

  .A_ArticleLead {
    position: absolute;
  }

  .square {
    .A_ArticleHeader {
      margin-top: 210px;
      font-size: 25px;
      width: 260px;
    }

    .A_ArticleLead {
      display: none;
    }
  }

  .wide {
    .A_ArticleHeader {
      line-height: 70px;
      margin-top: 110px;
      margin-left: 39px;
      font-size: 44px;
      width: 520px;
    }

    .A_ArticleLead {
      line-height: 28px;
      width: 440px;
      margin-top: 247px;
      margin-left: 35px;
      position: absolute;
      font-size: 24px;
    }
  }

  &.broken {
  }

  &.whiteOnBlack {
    color: white;

    &.square {
      // background-image: image();
    }

    &.wide {
    }

    &.broken {
    }
  }
}
