.M_Plug {
  background-color: #79ff39;

  .A_PlugText {
    font-family: ADC;
    font-size: 50px;
    color: black;
    margin-left: 480px;
    margin-top: 50px;
  }

  a {
    font-family: "PT Root UI";
    text-decoration: underline;
    font-size: 30px;
    line-height: 170px;
    color: black;
    margin-left: 630px;
  }

  img {
    margin-left: 450px;
    width: 500px;
    height: 500px;
  }
}
