.O_ProjectLinkFooter {
  padding-top: 160px;
  display: flex;
  flex-wrap: wrap;

  .A_ProjectParagraph {
    margin-top: 160px;
    font-family: "ADC-Semi-Bold";
    font-size: 40px;
  }

  img {
    margin-top: 40px;
    border-radius: 10px;
  }
}
