<div class="S_CooperationFull">
  <%= render 'elements/menu' %>
  <%= render 'elements/calendar' %>
  <div class="O_CooperationCompilation">
    <h1 class="A_CooperationHead">СОТРУДНИЧЕСТВО</h1>
    <p class="A_CooperationLead ">Заполните форму сотрудничества, чтобы мы смогли связаться с Вами и обсудить подробнее детали</p>
    <%= render 'form', cooperation: @cooperation %>
  </div>
  <%= render 'elements/footer' %>
</div>
