<body class="M_Plug">
  <%= image_tag("A_LayoutDecorationDeepFaceBlackAbout.png", :alt => "rss feed", class: "A_LayoutDecorationDeepFaceBlackAbout") %>
  <p class="A_PlugText">СПАСИБО, ЙОУ ДИП</p>

  <p class="A_PlugBack"><%= link_to 'Вернуться', new_cooperation_path %></p>
</body>
