
<div class="O_PageModulesSet">

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      Что такое канбан и откуда он взялся?
    </h1>
    <p class="A_ArticleParagraph">
      В русскоязычной Википедии есть две статьи по этому поводу, давайте рассмотрим обе.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph">
      Канбан (яп. カンバン камбан)
    </h2>
    <p class="A_ArticleParagraph">
      Система организации производства и снабжения, позволяющая реализовать принцип «точно в срок». Слово «канбан» по-японски означает «рекламный щит, вывеска» (яп. 看板) (примечание: мы используем слово «доска» или англицизм «борд»).
    </p>
    <p class="A_ArticleParagraph">
      Система канбан была разработана и впервые в мире реализована фирмой «Toyota». В 1959 году эта фирма начала эксперименты с системой канбан и в 1962 году запустила процесс перевода всего производства на этот принцип.
    </p>
  </div>

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Канбан (разработка)
    </h2>
    <p class="A_ArticleParagraph">
      Метод управления разработкой, реализующий принцип «точно в срок» и способствующий равномерному распределению нагрузки между работниками. При данном подходе весь процесс разработки прозрачен для всех членов команды. Задачи по мере поступления
      заносятся в отдельный список, откуда каждый разработчик может извлечь требуемую задачу.
    </p>
    <p class="A_ArticleParagraph">
      Канбан является наглядной системой разработки, которая показывает, что необходимо производить, когда и сколько. Метод берёт за основу производственную систему «Тойоты» и бережливое производство.
    </p>
    <p class="A_ArticleParagraph">
      В обеих статьях выделяется понятие «точно в срок», хотя, я бы назвал это не ограничением методологии, а возможностью. Например, для организации жизни я не использую ограничение «точно в срок», но для проектов с релизным циклом, это весьма полезно.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      Основные принципы и термины
    </h1>
    <p class="A_ArticleParagraph">
      Система канбан использует итеративный подход (понятие итерации) и понятие постоянного совершенствования ваших рабочих процессов кайдзен. Устройство системы позволяет быстро выявить проблемы в рабочих процессах, а также, стимулировать коллаборативный
      подход к их решению и улучшению самой системы.
    </p>
    <p class="A_ArticleParagraph">
      Главная польза канбана — управление изменениями при продолжающейся текущей работе. Другими словами, канбан акцентирует внимание на необходимости пошаговой эволюции в работе, с фокусом на выполнение текущих задач и поддержании продуктивности в текущей
      работе.
    </p>
    <p class="A_ArticleParagraph">
      Методология не имеет какого-то специального набора шагов для решения всех задач, а предлагает начинать с работы с тем, что есть сейчас, а дальше, от недели к неделе улучшать процесс и систему.
    </p>
    <p class="A_ArticleParagraph">
      Давайте рассмотрим основные принципы и термины.
    </p>
  </div>

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Итеративный подход и обратная связь
    </h2>
    <p class="A_ArticleParagraph">
      Итерация, в данном случае — отрезок времени (обычно в одну–две недели) на который планируется работа. По истечению времени проверяются результаты, обсуждаются проблемы, предлагаются решения, и планируется работа на следующую итерацию.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Визуализация рабочего процесса, управление и внесение изменений
    </h2>
    <p class="A_ArticleParagraph">
      Для реализации методологии создаётся борд (доска аналоговая или цифровая). Борд представляет из себя таблицу, колонки которой — стадии рабочего процесса. Мы будем рассматривать использование сервиса Трелло для этих целей.
    </p>
  </div>

  <div class="A_ArticleImage1" id="image"></div>

  <p class="A_ArticleParagraph" id="left_M_ArticleModule">
    Визуализация позволяет наглядней представлять планируемую, выполняемую и выполненную работу, а также рабочий процесс. Также, упрощает изменение рабочего процесса, добавление/удаление дополнительных стадий/состояний решения задач.
  </p>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Ограничение выполняемой в данный момент работы
    </h2>
    <p class="A_ArticleParagraph">
      В канбан заложена идея минимизации выполняемой в данный момент работы (Work In Progress). Это помогает избежать потери времени при мультизадачности и смене контекста работы.
    </p>
    <p class="A_ArticleParagraph">
      Даже если вам свойственна многозадачность (как я считаю, свойственна мне), скорей всего вы (как и я) в один момент времени выполняете только одну задачу, держа в голове ещё несколько, и переключаетесь между их выполнением. В любом случае, в один
      момент времени (одну рабочую сессию, один рабочий день) сложно удерживать во внимании более семи вещей.
    </p>
  </div>

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Пул система
    </h2>
    <p class="A_ArticleParagraph">
      Скорей всего, хоть раз в вашей жизни, будучи уже перегруженным срочными задачами, вы получали ещё одну новую срочную задачу, без изменения приоритета уже имеющихся у вас срочных задач. Такой метод организации работы можно назвать пуш (push —
      нажимать, давить) системой.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <p class="A_ArticleParagraph">
      Пул (pull — тянуть) система устроена по обратному принципу, когда вы освободились, вы берёте новую задачу с наивысшим приоритетом. В жизни мы встречаем подобную механику когда стоим в очереди куда-либо.
    </p>
    <p class="A_ArticleParagraph">
      Пул система позволяет планировать нагрузку и минимизировать стресс, но в то же время, требуется высокий уровень самоответственности, и опыт в прогнозировании выполнимой за итерацию работы.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Документация и коммуникация
    </h2>
    <p class="A_ArticleParagraph">
      Одним из принципов канбана является ведение документации о вашей системе (описание устройства системы, политики использования), а также донесение информации до всех членов команды
    </div>

    <div class="M_ArticleModule" id="left_M_ArticleModule">
      <h1 class="A_ArticleHeader">
        Чем это все полезно
      </h1>
      <p class="A_ArticleParagraph">
        В среднем, параллельно я веду около шести коммерческих проектов. В каждом проекте свои люди, задачи, процессы и нюансы, но абсолютно все проекты связанны с достижением определённых результатов в определённый срок, так же как и с взаимодействием между
        людьми.
      </div>

      <div class="M_ArticleModule" id="right_M_ArticleModule">
        <p class="A_ArticleParagraph">
          Работа по методологии канбан позволяет всем участникам проекта быть в курсе всех договорённостей и идущих процессов, а использование цифровой доски позволяет освободиться от запоминания всех задач, но в то же время, не даст забыть о договорённостях.
        </p>
        <p class="A_ArticleParagraph">
          В Школе дизайна НИУ ВШЭ на профиле «Дизайн и программирование» студенты с первого года учатся вести проекты по этой методологии. Студенты еженедельно отчитываются о проделанной работе и получают новые задачи через доски своих проектов в Трелло. По
          каждому проекту у нас организован канбан и еженедельный рабочий цикл.
        </p>
        <p class="A_ArticleParagraph">
          В данный момент я курирую 36 студенческих проектов, и я даже не могу представить в каком бы бардаке я жил, если бы мы не использовали подобные методики и сервисы.
        </p>
      </div>
