<div class="O_PageModulesSet">

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      ПРОБЛЕМА
    </h1>
    <p class="A_ArticleParagraph">
      Сегодня в сети много контента по теме проектирования дизайн-систем и выстраивания рабочих процессов. При правильном применении, системный подход может сильно облегчить жизнь дизайнерам и разработчикам. Но из-за избытка информации, сложно разобраться,
      с чего начать.
    </p>
    <p class="A_ArticleParagraph">
      Информация сильно фрагментарна. Одни вещи очень хорошо описаны, например, Material Design и его документация по проектированию UI-элементов, а про другие приходится выискивать информацию на Medium, детально её анализировать перед применением. Сложно
      найти, как версионировать библиотеки компонентов в Sketch/Figma. Трудно понять, как, и нужно ли вообще, внедрять подход от AirBnb с использованием react-sketchapp в свой рабочий процесс и так далее.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <p class="A_ArticleParagraph">
      У дизайн-сообщества нет единой площадки (единого источника правды) для кооперации и накопления экспертизы. При этом в индустрии существуют примеры таких площадок. Например, W3C из области разработки веб-стандартов. Они ответственны за стандарты
      современного веба и инкрементно развивают эти стандарты в специальных рабочих группах.
    </p>
  </div>

  <div class="M_PageInter_Container">
    <div class="M_PageInter" id="right_M_ArticleModule">
      <p class="A_PageInterParagraph">
        Дизайнеры и программисты общаются на разных языках, имеют разные принципы проектирования одних и тех же вещей.
      </p>
    </div>
  </div>

  <div class="A_ArticleImage2" id="image"></div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      Решение
    </h1>
    <p class="A_ArticleParagraph">
      Мы используем лучшие практики из дизайна и программирования и стремимся объединить опыт индустрии цифрового дизайна, чтобы создать площадку для роста и развития универсального дизайн-фреймворка.
    </p>
  </div>

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      Давайте знакомиться
    </h1>
    <h2 class="A_ArticleMiddleParagraph">
      Привет! Меня зовут Захар День
    </h2>
    <p class="A_ArticleParagraph">
      Я дизайнер и веб-разработчик. Работаю с большой коммерческой дизайн системой с 2016 года. В то время, когда я начинал проектировать дизайн систему, в Sketch ещё не было возможности оверрайдить вложенные символы, а до появления Figma оставалось ещё
      пол года. Систему проектировал в Adobe Illustrator. Кроме передачи клиенту картинок, я верстал все компоненты и отдавал в виде готового интерфейса в браузере. В то время я только познакомился с Atomic Design Methodology и начал применять её в рабочем
      проекте. Так как мне нужно было после проектирования переносить все компоненты в код, я разработал сквозную систему именования компонентов о которой расскажу позже.
    </p>
    <p class="A_ArticleParagraph">
      Параллельно с этим я руковожу кафедрой «Дизайн и программирование» в Школе дизайна НИУ ВШЭ. С конца 2018 года вместе со мной над библиотекой работает мой студент. Он сделал большой вклад в развитие этого проекта. Благодаря ему и доверию клиента, на
      сегодняшний день мы смогли перенести библиотеку в Sketch. Теперь она содержит 1000+ компонентов и реализована в коде в виде React-компонентов, которые доставляются в виде NPM-пакета в продукт.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <p class="A_ArticleParagraph">
      В работе над этим проектом мы столкнулись с огромным количеством проблем, которые приходилось решать, искать информацию и прототипировать решения, чтобы проверить их эффективность. Всё это вылилось в огромные трудозатраты, но на выходе мы получили
      ценный опыт, которым хотим поделиться. Так родилась идея универсального дизайн-фреймворка, который впоследствии стал дипломным проектом для моего студента.
    </p>
    <h2 class="A_ArticleMiddleParagraph">
      Привет! Меня зовут Даня
    </h2>
    <p class="A_ArticleParagraph">
      Тема моего диплома: «Методология работы с графическими пользовательскими интерфейсами и их программной реализацией» или, проще говоря, «Универсальный дизайн-фреймворк».
    </p>
    <p class="A_ArticleParagraph">
      В ходе работы с большой дизайн-системой мы прошли несколько этапов, пересобрали библиотеку несколько раз и пришли к выводам, которые привели нас к созданию фреймворка. В рамках диплома мы проводим исследования, сравниваем возможности различных
      графических редакторов, инструментов для версионирования и систем для документирования компонентов. Мы моделируем варианты организации хранения компонентов, дизайн-артефактов, версионирования файлов и библиотек, чтобы описать лучшие практики в первой
      спецификации фреймворка.
    </p>
  </div>

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      Описание проекта
    </h1>
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Цели проекта
    </h2>
    <p class="A_ArticleParagraph">
      При создании проекта мы ставим себе две цели. Первая — сделать фреймворк, который поможет повысить эффективность продуктовой команды и станет единым языком для дизайна и разработки. Вторая — сформировать сообщество для развития фреймворка и
      накопления экспертизы.
    </p>
    <p class="A_ArticleParagraph">
      На начальном этапе мы проанализируем, доработаем и уточним методы, которые мы применяем при разработке цифровых продуктов. Фреймворк будет состоять из следующих частей: компонентная методология, проектная методология и библиотека компонентов в
      дизайне и коде.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Компонентная методология
    </h2>
    <p class="A_ArticleParagraph">
      Включает в себя методы для организации и именования компонентов интерфейса в дизайне и коде.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Проектная методология
    </h2>
    <p class="A_ArticleParagraph">
      Включает в себя метод для версионирования дизайн-артефактов (черновых эскизов и финальных макетов); метод для организации и версионирования библиотек компонентов; метод организации единого источника правды в коде (не реализуемо с имеющимися
      технологиями, ждём обновление от Figma); метод организации проектной дизайн-документации.
    </p>
  </div>

  <div class="M_ArticleModule" id="right_M_ArticleModule">
    <h2 class="A_ArticleMiddleParagraph" id="ninetyPX">
      Библиотека компонентов
    </h2>
    <p class="A_ArticleParagraph">
      Включает в себя библиотеку компонентов в Sketch и Figma, NPM-пакет с библиотекой компонентов на React; проект с применением библиотеки и фреймворка в Sketch и Figma; проект с применением библиотеки в коде на GitHub.
    </p>
  </div>

  <div class="M_ArticleModule" id="left_M_ArticleModule">
    <h1 class="A_ArticleHeader">
      Заключение
    </h1>
    <p class="A_ArticleParagraph">
      Если вы уже долгое время развиваете дизайн-систему и нашли решения описанных проблем, мы будем рады встретиться с вами или связаться в любой удобной форме для обмена опытом. Ваша обратная связь будет очень полезна!
    </div>

    <div class="M_ArticleModule" id="right_M_ArticleModule">
      <p class="A_ArticleParagraph">
        Если вы хотите получить доступ к неопубликованной информации, которая находится в разработке, или хотите присоединиться к процессу разработки фреймворка, свяжитесь с нами через Spectrum.
      </p>
    </div>

    <div class="M_ArticleModule" id="left_M_ArticleModule">
      <p class="A_ArticleParagraph">
        Вы никогда не работали с дизайн-системами? Мы будем рады узнать, насколько понятно для вас изложен материал, и есть ли что-то из изложенного непонятное, что требует дополнительного описания.
      </p>
      <p class="A_ArticleParagraph">
        Присоединяйтесь к развитию фреймворка, вступайте в сообщество на Spectrum, расскажите о UDF друзьям.
      </p>
    </div>

  </div>

</div>
