<div class="O_PageModulesSet">

  <div class="M_ProjectModule" id="center_M_ProjectModule">
    <h1 class="A_ProjectHeader">
    С чего все начиналось
    </h1>
    <p class="A_ProjectParagraph">
      Первое с чего мы начали, естественно, это изучение контекста. Мы перекопали весь интернет, прочитали кучу статей в поисках релевантной информации и проконсультировались с действующими юристами. В итоге, поняли, что с точки зрения, существующего pаконодательства, реализация пока ставится под большой вопрос. В первую очередь, по техническим причинам, из-за сложностей с верификацией.
    </p>
    <p class="A_ProjectParagraph">
    Осознав это мы подумали: а что если сконцентрироваться
на виртуальном имуществе, и на том, что не заверено нотариально? Этот вопрос наконец толкнул нашу команду
на то, чтобы  сформулировать проблему, от которой
мы и продолжили двигаться в сторону решения.
    </p>
  </div>

  <div class="M_PageInter_Container">
    <div class="M_PageInter" id="right_M_ProjectModule">
      <p class="A_PageInterParagraph">
        Проблема — страницы в социальных сетях, аккаунты на коммерческих сервисах и электронные кошельки после ухода из жизни их хозяина находятся в подвешенном состоянии.
      </p>
    </div>
  </div>

  <p class="A_ProjectParagraph" id="right_M_S_ProjectModule">
    Страницы в социальных сетях, аккаунты на коммерческих сервисах и электронные кошельки сейчас – это вещи, которые все крепче закрепляются нашей ежедневной рутине и часто становятся весомой частью личности человека. Тем не менее, после ухода их хозяина
    из жизни они часто находятся в подвешенном состоянии.
  </p>

  <div class="A_ProjectImageWide" id="image"></div>

  <div class="M_ProjectModule">
    <h1 class="A_ProjectHeader" id="left_M_ProjectModule">
      Принцип работы
    </h1>
    <p class="A_ProjectParagraph" id="left_M_ProjectModule">
      Мы взяли на себя роль транзита между человеком, жизнь которого внезапно прервалась, и его близкими. В простом отношении, функция сервиса свелась к тому, чтобы до определённого момента хранить данные, которыми пользователь хочет поделиться только в
      экстренном случае.
    </div>

    <p class="A_ProjectParagraph" id="center_M_ProjectModule">
      Но если думать о великом, то мы, в какой-то степени, помогаем избавить интернет от онлайн-кладбищ (заброшенных аккаунтов).
    </p>
    <p class="A_ProjectParagraph" id="right_M_ProjectModule">
      Процесс конструирования механики был сложным. Просто, потому что мы долго не понимали куда смотреть, в плане референсов. К тому же, это был наш первый опыт проектирования внутренней системы продукта и работы в команде. От модуля к модулю, мы
      совершенствовали интерфейс, придумывали более нативные методы взаимодействия и много работали надо ошибками.
    </p>

    <div class="M_PageMediaModule" id="left_M_ProjectModule">
      <div class="A_PageMediaLinkBox">

        <div class="A_PageMediaLink1">
          МЕТА
        </div>
        <div class="A_PageMediaLink2">
          Лендинг
        </div>
        <div class="A_PageMediaLink1">
          Видео
        </div>
      </div>

      <div class="A_ProjectImageS" id="image"></div>

    </div>

    <div class="M_ProjectModule">
      <h1 class="A_ProjectHeader" id="left_M_ProjectModule">
        Meta присмотрит за твоим виртуальным имуществом, когда придет время покинуть этот мир.
      </h1>
      <p class="A_ProjectParagraph" id="left_M_ProjectModule">
        В Meta можно писать наставления, прикреплять сканы завещаний, добавлять и хранить пароли от виртуальных активов, назначать ответственных и добавлять для них поручения.
      </div>

      <p class="A_ProjectParagraph" id="right_M_ProjectModule">
        Также сервис подразумевает взаимодействие между пользователями. Человек может как передавать артефакты в наследство, так и получать их, имея возможность взять за них ответственность, либо отказаться от нее.
      </p>

      <p class="A_ProjectParagraph" id="right_M_ProjectModule">
        Самый важный человек в Meta это хранитель аккаунта. Он запускает механизм рассылки писем для передачи имущества наследникам.
      </p>

      <p class="A_ProjectParagraph" id="right_M_ProjectModule">
        После того как пользователь уходит из жизни и это подтверждает его хранитель, у наследников в разделе память коллекционируются артефакты, переданные ушедшим при жизни.
      </p>

      <div class="O_ProjectLinkFooter" id="left_M_ProjectModule">

        

      </div>

    </div>
  </div>
