.A_ArticleImage2 {
  width: 1198px;
  height: 600px;
  background-image: url("A_ArticleImage2.png");
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 160px;
  border-radius: 10px;
}

#image {
  float: left;
}
