.A_ArticleParagraph {
  position: relative;
  display: flex;
  width: 720px;
  height: auto;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;

  font-family: PT Root UI;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 135%;
  /* or 28px */

  color: #ffffff;
}
