.A_ArticleImage {
  width: 1198px;
  height: 714px;
  background-image: url("A_ArticleImage.png");
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 160px;
  margin-bottom: 160px;
}

#image {
  float: left;
}
