.A_CooperationButtonNext {
  input {
    font-family: "PTRootUIWebMedium";
    font-size: 16px;
    line-height: 30px;
    width: 151px;
    height: 42px;
    background-color: #79ff39;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 5px #79ff39;
  }
}
