.A_FooterLink {
  color: white;
  line-height: 25px;
  text-align: center;
  font-size: 23px;
  padding: 6px 25px;
  margin-left: 25px;
  width: fit-content;
  height: 35px;
  border: solid;
  border-radius: 50px;
  border-width: 1px;
  border-color: white;
}
