.A_FooterEmail {
  color: black;
  line-height: 25px;
  text-align: center;
  font-size: 23px;
  padding: 6px 25px;
  margin-left: 500px;
  width: fit-content;
  height: 35px;
  background-color: #79ff39;
  border: solid;
  border-radius: 50px;
  border-width: 1px;
}
