.A_PageMediaLink2 {
  width: auto;
  height: 300px;

  background: #f8f8f8;
  border-radius: 36px;

  font-family: PT Root UI;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 113%;
  /* identical to box height, or 51px */

  text-align: left;

  color: #33ff00;
  padding: 42px;
}
