.A_PageInterParagraph {
  position: absolute;
  left: 0px;
  right: 0px;
  font-family: ADC;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 142%;
  /* or 102px */

  text-align: center;
  text-transform: uppercase;

  padding: 50px;
  padding-top: 90px;

  color: #000000;
  background: #79ff39;

  width: 93%;
  height: auto;
  margin-top: 160px;
}
