.A_ProjectImageWide {
  width: 1472px;
  height: 900px;
  background-image: url("A_ProjectImage2.png");
  margin-top: 160px;
  margin-bottom: 60px;
  border-radius: 10px;
  margin-left: -80px;
}

#image {
  float: left;
}
