.A_ProjectButton {
  margin-top: 160px;
  margin-left: 474px;
  padding: 5px 180px;
  line-height: 33px;
  text-align: center;
  font-size: 23px;
  height: 35px;
  border: solid;
  border-radius: 100px;
  border-width: 1px;
  border-color: white;
  width: 452px;
  background-color: black;
}
