.A_ProjectLead {
  position: relative;
  display: flex;
  width: 720px !important;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;

  font-family: PT Root UI;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 110%;
  height: auto;
  width: auto;
  color: #ffffff;
}
