<a href="#">Главная</a>
<%= link_to 'Энциклопедия', articles_path %>
<%= link_to 'Проекты', projects_path %>
<%= link_to 'О нас', about_index_path %>
<%= link_to 'Сотрудничество', new_cooperation_path(@cooperation) %>

<h1>About</h1>
